header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 50px 0 75px;
}

#main {
    font-size: 14px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
    font-weight: 600;
    margin: 5px 0;
}

a {
    color: #17a2b8;
}

.list-group-item p {
    margin: 5px 0;
}

.card {
    margin-bottom: 10px;
}

.list-group {
    margin-bottom: 10px;
}

.card-header {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    background: #eee;
}

.badge {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

code,
pre {
    background: #eee;
    padding: 1px 3px;
}

.table td,
.table th {
    padding: .42em;
}

.table {
    margin-top: 8px;
}

.far,
.fas {
    font-size: 18px;
}

.affiliation {
    font-style: italic;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: .75rem;
}

.paperlink {
    font-size: .85em;
}

.crossed {
    position: relative;
    padding: .1rem;
    overflow: hidden;
}

.crossed:before,
.crossed:after {
    position: absolute;
    content: '';
    background: #dc3545 !important;
    display: block;
    width: 20%;
    height: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
}

.crossed:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.supfact {
    color: #28a745
}

span.line {
    display: inline-block;
}

.data-paragraph,
.data-question,
.data-answer {
    margin-bottom: 8px;
    transition: height .2s;
}

.data-paragraph .paragraph-title {
    color: #888888;
}

.data-paragraph .supfact {
    background: #bbffcc;
    border-radius: 3px;
    color: inherit;
    transition: background-color .2s;
}

.data-paragraph .hide {
    background: none !important;
}

#bird-title {
    color: #9de2dd
}

#logo-img {
    display: inline;
    max-height: 200px;
    cursor: pointer;
    transition: all 0.6s;
}

#logo-img:hover{
    transform: scale(1.4);
}

#caption {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

#introduction {
    font-size: 15px;
    font-family: sans-serif;
}

#paper {
    background-color: #34314c;
    border-color: #34314c;
}

.column-img {
    max-width: 100%;
}

#illustration {
    font-family: Arial, Helvetica, sans-serif;
}

.dataset-btn {
    background-color: #1F7872;
    min-width: 50% !important;
}


#citation {
    font-size: 0.75em;
    overflow: auto;
    border: 1px solid #999;
    margin: 0 4px;
    padding: 8px;
    border-radius: 2px;
}

.flex-box {

    display: flex;

    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    padding: 15px;
}

.flex-box>div {
    border-radius: 5px;
    padding: 8px;
}

#header-color {
    /* background-color: #7C499D; */
    background-color: #53595F;
}


#button-group {
    width: 100%;
}

.button-row {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

.btn-a {
    color: #fff;
    font-weight: 400;
    width: 100%;
    text-transform: none;
    background-color: #34314c;
}

.btn-b {
    color: #fff;
    font-weight: 400;
    width: 100%;
    text-transform: none;
    background-color: #1F7872;
    border-radius: 50px; 
}

#button-row-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-b {
    width: calc(50% - 5px);
}

.btn-round {  
  width: calc(50% - 5px);  
  height: calc(50% - 5px); /* Add height property with the same value as width */  
  transition: background-color 0.3s; /* Add a smooth transition effect */  
}  


.btn-b:hover {  
background-color: #CD6688; /* Change the background color when the cursor is over the button */  
}  

.btn {
    padding: 8px;
}
